/* Add CSS Styling */
.odd {
    background-color: rgb(255,160,122);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.adjusted-font-size {
    font-size: 24px;
}

#two {
    color: rgba(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(144, 238, 144);
    font-weight: bold;
}