/* Add CSS Styling */

.primary,
.secondary {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.primary {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
}

.secondary {
    background-color: rgb(255, 255, 0);
}